# View Corporate Hybrids using a Pandas DataFrame

## written by Darren Lefcoe
### comapny: Redhedge

#### contact
    @dlefcoe
    darren@redhedge.uk

In [3]:
import pandas as pd

df = pd.read_csv('./dataFolder/csvData/hybrids_results 2020-07-14 21_22_23.csv')

df

,Unnamed: 0,ticker,coupon,nxt_call_dt,final_maturity,mty_typ,px_mid,z_sprd_mid,yas_ispread,yas_bond_yld,yas_risk,crncy,payment_rank,industry_sector,rtg_moody,rtg_sp,bb_composite
0,BE6309987400 Corp,SOLBBB,4.250,2023-12-04,NaN,PERP/CALL,104.6900,323.434868,323.483134,2.868082,3.513323,EUR,Jr Subordinated,Basic Materials,Ba1,BB+,BB+
1,DE000A11QR73 Corp,BAYNGR,3.750,2024-07-01,2074-07-01,CALLABLE,103.7775,309.327006,309.276401,2.729846,3.795536,EUR,Jr Subordinated,"Consumer, Non-cyclical",Baa3,BB+,BB+
2,DE000A14J611 Corp,BAYNGR,2.375,2022-10-02,2075-04-02,CALLABLE,100.0660,271.589315,271.535058,2.341884,2.135564,EUR,Jr Subordinated,"Consumer, Non-cyclical",Baa3,BB+,BB+
3,FR0011401728 Corp,EDF,6.000,2026-01-29,NaN,PERP/CALL,107.2040,429.904246,429.528259,4.514247,5.055424,GBP,Jr Subordinated,Utilities,Baa3,BB-,BB+
4,FR0011401751 Corp,EDF,5.375,2025-01-29,NaN,PERP/CALL,109.0010,356.081051,355.929321,3.207152,4.405797,EUR,Jr Subordinated,Utilities,Baa3,BB-,BB+
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,XS1150695192 Corp,VLVY,4.850,2023-03-10,2078-03-10,CALLABLE,107.4900,229.376925,229.313630,1.919234,2.698211,EUR,Jr Subordinated,"Consumer, Cyclical",Baa2,BBB,BBB
180,XS1797138960 Corp,IBESM,2.625,2024-03-26,NaN,PERP/CALL,103.5365,199.518463,199.531443,1.629273,3.640112,EUR,Jr Subordinated,Utilities,Baa3,BBB-,BBB-
181,XS1890845875 Corp,IBESM,3.250,2024-11-12,NaN,PERP/CALL,106.6915,206.816244,206.707085,1.715659,4.551200,EUR,Jr Subordinated,Utilities,Baa3,BBB-,BBB-
182,XS2010044977 Corp,NGGLN,1.625,2024-09-05,2079-12-05,CALLABLE,98.5735,234.739388,234.687474,1.987134,3.901362,EUR,Sr Subordinated,Utilities,Baa3,BBB,BBB-
183,XS2187689380 Corp,VW,3.875,2029-06-17,NaN,PERP/CALL,98.9070,425.792946,424.193044,4.022490,7.325198,EUR,Jr Subordinated,"Consumer, Cyclical",Baa2,NaN,NR

In [39]:
df.head()

,Unnamed: 0,ticker,coupon,nxt_call_dt,final_maturity,mty_typ,px_mid,z_sprd_mid,yas_ispread,yas_bond_yld,yas_risk,crncy,payment_rank,industry_sector,rtg_moody,rtg_sp,bb_composite
0,BE6309987400 Corp,SOLBBB,4.250,2023-12-04,NaN,PERP/CALL,104.6900,323.434868,323.483134,2.868082,3.513323,EUR,Jr Subordinated,Basic Materials,Ba1,BB+,BB+
1,DE000A11QR73 Corp,BAYNGR,3.750,2024-07-01,2074-07-01,CALLABLE,103.7775,309.327006,309.276401,2.729846,3.795536,EUR,Jr Subordinated,"Consumer, Non-cyclical",Baa3,BB+,BB+
2,DE000A14J611 Corp,BAYNGR,2.375,2022-10-02,2075-04-02,CALLABLE,100.0660,271.589315,271.535058,2.341884,2.135564,EUR,Jr Subordinated,"Consumer, Non-cyclical",Baa3,BB+,BB+
3,FR0011401728 Corp,EDF,6.000,2026-01-29,NaN,PERP/CALL,107.2040,429.904246,429.528259,4.514247,5.055424,GBP,Jr Subordinated,Utilities,Baa3,BB-,BB+
4,FR0011401751 Corp,EDF,5.375,2025-01-29,NaN,PERP/CALL,109.0010,356.081051,355.929321,3.207152,4.405797,EUR,Jr Subordinated,Utilities,Baa3,BB-,BB+

In [40]:
df.tail()

,Unnamed: 0,ticker,coupon,nxt_call_dt,final_maturity,mty_typ,px_mid,z_sprd_mid,yas_ispread,yas_bond_yld,yas_risk,crncy,payment_rank,industry_sector,rtg_moody,rtg_sp,bb_composite
179,XS1150695192 Corp,VLVY,4.850,2023-03-10,2078-03-10,CALLABLE,107.4900,229.376925,229.313630,1.919234,2.698211,EUR,Jr Subordinated,"Consumer, Cyclical",Baa2,BBB,BBB
180,XS1797138960 Corp,IBESM,2.625,2024-03-26,NaN,PERP/CALL,103.5365,199.518463,199.531443,1.629273,3.640112,EUR,Jr Subordinated,Utilities,Baa3,BBB-,BBB-
181,XS1890845875 Corp,IBESM,3.250,2024-11-12,NaN,PERP/CALL,106.6915,206.816244,206.707085,1.715659,4.551200,EUR,Jr Subordinated,Utilities,Baa3,BBB-,BBB-
182,XS2010044977 Corp,NGGLN,1.625,2024-09-05,2079-12-05,CALLABLE,98.5735,234.739388,234.687474,1.987134,3.901362,EUR,Sr Subordinated,Utilities,Baa3,BBB,BBB-
183,XS2187689380 Corp,VW,3.875,2029-06-17,NaN,PERP/CALL,98.9070,425.792946,424.193044,4.022490,7.325198,EUR,Jr Subordinated,"Consumer, Cyclical",Baa2,NaN,NR

# Get column headers

In [41]:
df.columns

Index(['Unnamed: 0', 'ticker', 'coupon', 'nxt_call_dt', 'final_maturity',
       'mty_typ', 'px_mid', 'z_sprd_mid', 'yas_ispread', 'yas_bond_yld',
       'yas_risk', 'crncy', 'payment_rank', 'industry_sector', 'rtg_moody',
       'rtg_sp', 'bb_composite'],
      dtype='object')

In [42]:
df['ticker']

0      SOLBBB
1      BAYNGR
2      BAYNGR
3         EDF
4         EDF
        ...
179      VLVY
180     IBESM
181     IBESM
182     NGGLN
183        VW
Name: ticker, Length: 184, dtype: object

In [43]:
df.ticker

0      SOLBBB
1      BAYNGR
2      BAYNGR
3         EDF
4         EDF
        ...
179      VLVY
180     IBESM
181     IBESM
182     NGGLN
183        VW
Name: ticker, Length: 184, dtype: object

In [44]:
df.crncy

0      EUR
1      EUR
2      EUR
3      GBP
4      EUR
      ...
179    EUR
180    EUR
181    EUR
182    EUR
183    EUR
Name: crncy, Length: 184, dtype: object

In [45]:
df.groupby('crncy').count()

,Unnamed: 0,ticker,coupon,nxt_call_dt,final_maturity,mty_typ,px_mid,z_sprd_mid,yas_ispread,yas_bond_yld,yas_risk,payment_rank,industry_sector,rtg_moody,rtg_sp,bb_composite
crncy,,,,,,,,,,,,,,,,
EUR,152,152,152,149,50,152,150,149,148,149,149,152,152,126,137,147
GBP,16,16,16,16,8,16,16,16,16,16,16,16,16,13,14,15
USD,16,16,16,16,10,16,16,16,16,16,16,16,16,14,15,15

## get the average for different currencies

In [46]:
df.groupby('crncy').mean()

         coupon      px_mid  z_sprd_mid  yas_ispread  yas_bond_yld  yas_risk
crncy
EUR    3.403586  100.675667  368.068623   364.978548      3.305828  3.654082
GBP    5.914062  103.933875  308.137716   307.588676      3.269776  2.707088
USD    6.279687  104.646750  481.117813   479.450540      5.083367  3.326529

## group by moodys rating

In [47]:
df.groupby('rtg_moody').mean()

,coupon,px_mid,z_sprd_mid,yas_ispread,yas_bond_yld,yas_risk
rtg_moody,,,,,,
A2,2.305778,101.515444,210.746312,210.649263,1.770312,4.104731
B2,2.697000,79.748500,417.308307,NaN,3.342113,0.133745
B2u,6.437500,94.875000,767.774116,766.369438,8.007815,3.864689
Ba1,4.536437,103.435125,354.394150,353.750287,3.325047,3.804685
Ba1u,3.750000,102.320750,319.397844,319.402599,2.824674,2.926313
Ba2,3.895188,101.591633,350.581521,350.102849,3.243479,3.843294
Ba2u,3.000000,97.111500,454.773452,454.582396,4.171930,2.406352
Ba3,5.000000,100.769500,390.469250,389.484239,3.542260,0.573403
Baa1,5.975000,109.028900,235.920573,235.473877,2.364887,2.633217
Baa2,3.783065,101.820855,318.760844,318.466962,2.902712,3.632946
Baa3,3.415769,102.729696,268.911569,268.751787,2.451388,3.687641
Caa1,3.992000,51.701000,2699.383058,2699.422373,26.626412,1.353586

In [51]:
df.groupby('bb_composite').mean()

,coupon,px_mid,z_sprd_mid,yas_ispread,yas_bond_yld,yas_risk
bb_composite,,,,,,
A,2.125000,104.933500,165.484346,165.068036,1.347905,6.201016
A-,2.762833,102.685750,225.405638,225.432503,1.899921,3.209975
B,2.697000,79.748500,417.308307,NaN,3.342113,0.133745
BB,3.954217,100.157909,396.611491,396.256058,3.675279,3.634111
BB+,4.061568,102.787512,357.929728,357.265005,3.344203,4.117497
BBB,3.306667,102.482933,276.649502,276.494193,2.416433,3.610609
BBB+,4.632143,105.714071,226.063599,225.615987,2.184127,3.709729
BBB-,3.783673,102.795904,270.657077,270.561123,2.488428,3.319104
CCC,3.992000,51.701000,2699.383058,2699.422373,26.626412,1.353586
NR,3.783538,98.062500,553.465357,540.882682,5.181301,3.369237

In [52]:
df.groupby('bb_composite').std()

,coupon,px_mid,z_sprd_mid,yas_ispread,yas_bond_yld,yas_risk
bb_composite,,,,,,
A,0.707107,3.200365,34.002925,33.604843,0.394674,1.867182
A-,0.763569,2.975288,10.630264,10.457477,0.120428,1.925921
B,NaN,NaN,NaN,NaN,NaN,NaN
BB,1.455059,6.313157,105.762200,105.738382,1.057726,1.429347
BB+,1.316171,5.084433,86.303657,85.834959,0.968551,1.681335
BBB,1.440315,7.308772,137.134022,137.084951,1.370679,1.862016
BBB+,2.392467,8.263166,46.649918,46.303030,0.754064,2.803335
BBB-,1.731290,4.933639,76.773649,76.303980,0.809680,1.968198
CCC,NaN,NaN,NaN,NaN,NaN,NaN
NR,1.742385,4.211417,777.512995,719.052395,7.218081,1.877202

# Read Each Row

In [6]:
# read each row of pandas df
for index, row in df.iterrows():
    print(index, row['ticker'], row['coupon'], row['mty_typ'])

0 SOLBBB 4.25 PERP/CALL
1 BAYNGR 3.75 CALLABLE
2 BAYNGR 2.375 CALLABLE
3 EDF 6.0 PERP/CALL
4 EDF 5.375 PERP/CALL
5 ENGIFP 4.75 PERP/CALL
6 EDF 4.125 PERP/CALL
7 EDF 5.0 PERP/CALL
8 EDF 5.875 PERP/CALL
9 ENGIFP 3.875 PERP/CALL
10 SEVFP 2.5 PERP/CALL
11 SEVFP 2.875 PERP/CALL
12 ENGIFP 1.375 PERP/CALL
13 EDF 4.0 PERP/CALL
14 ENGIFP 3.25 PERP/CALL
15 ORAFP 2.375 PERP/CALL
16 ENGIFP 1.625 PERP/CALL
17 SEVFP 1.625 PERP/CALL
18 ORAFP 1.75 PERP/CALL
19 EDF 3.0 PERP/CALL
20 VOD 7.0 CALLABLE
21 EDF 5.25 PERP/CALL
22 EDF 5.625 PERP/CALL
23 KPN 7.0 CALLABLE
24 BHP 6.25 CALLABLE
25 BHP 6.75 CALLABLE
26 ENELIM 5.4510000000000005 CALLABLE
27 AMXLMM 6.375 CALLABLE
28 AMXLMM 6.375 CALLABLE
29 SOLBBB 5.425 PERP/CALL
30 ORAFP 5.875 PERP/CALL
31 ORAFP 5.25 PERP/CALL
32 ENBW 3.625 CALLABLE
33 TELEFO 5.875 PERP/CALL
34 ORAFP 4.0 PERP/CALL
35 ORAFP 5.0 PERP/CALL
36 ORAFP 5.75 PERP/CALL
37 MRKGR 2.625 CALLABLE
38 MRKGR 3.375 CALLABLE
39 TOTAL 2.25 PERP/CALL
40 TOTAL 2.625 PERP/CALL
41 VATFAL 3.0 CALLABLE
42 REPSM 4.5 CALLABLE
43 RWE 2.75 CALLABLE
44 RWE 3.5 CALLABLE
45 BERTEL 3.0 CALLABLE
46 BERTEL 3.5 CALLABLE
47 RWE 6.625 CALLABLE
48 BHP 4.75 CALLABLE
49 BHP 5.625 CALLABLE
50 BHP 6.5 CALLABLE
51 VATFAL 6.1 CALLABLE
52 SOLBBB 5.869 PERP/CALL
53 SESGFP 5.625 PERP/CALL
54 ENBW 3.375 CALLABLE
55 SESGFP 4.625 PERP/CALL
56 TOTAL 3.875 PERP/CALL
57 TELEFO 3.75 PERP/CALL
58 ENBW 5.125 CALLABLE
59 TOTAL 3.3689999999999998 PERP/CALL
60 TOTAL 2.708 PERP/CALL
61 TELIAS 3.0 CALLABLE
62 TENN 2.995 PERP/CALL
63 ENELIM 3.375 CALLABLE
64 ENELIM 2.5 CALLABLE
65 TELEFO 2.625 PERP/CALL
66 TELEFO 3.0 PERP/CALL
67 TELEFO 3.875 PERP/CALL
68 VOD 3.1 CALLABLE
69 VOD 4.2 CALLABLE
70 VOD 6.25 CALLABLE
71 VOD 4.875 CALLABLE
72 TELEFO 4.375 PERP/CALL
73 TOTAL 1.75 PERP/CALL
74 ENELIM 3.5 CALLABLE
75 MRKGR 1.625 CALLABLE
76 ENBW 1.625 CALLABLE
77 ENBW 1.125 CALLABLE
78 TELEFO 2.875 PERP/CALL
79 IFXGR 2.875 PERP/CALL
80 IFXGR 3.625 PERP/CALL
81 KPN 2.0 PERP/CALL
82 BAYNGR 2.375 CALLABLE
83 BAYNGR 3.125 CALLABLE
84 TELIAS 1.375 CALLABLE
85 TELEFO 2.502 PERP/CALL
86 T 2.875 PERP/CALL
87 BRITEL 1.874 CALLABLE
88 REPSM 3.75 PERP/CALL
89 REPSM 4.247 PERP/CALL
90 ELIASO 2.75 PERP/CALL
91 DBOERS 2.75 CALLABLE
92 WIEAV 5.0 PERP/CALL
93 DBOERS 1.25 CALLABLE
94 COFP 3.992 PERP/CALL
95 AFFP 6.25 PERP/CALL
96 BNFP 1.75 PERP/CALL
97 ULFP 2.125 PERP/CALL
98 ULFP 2.875 PERP/CALL
99 ACFP 4.375 PERP/CALL
100 AKEFP 2.75 PERP/CALL
101 ACFP 2.625 PERP/CALL
102 AKEFP 1.5 PERP/CALL
103 EDPPL 4.496 CALLABLE
104 EDPPL 1.7 CALLABLE
105 EDPPL 5.375 CALLABLE
106 ENELIM 8.75 CALLABLE
107 SZUGR 2.697 PERP/CALL
108 ORSTED 6.25 CALLABLE
109 ENELIM 7.75 CALLABLE
110 VW 5.125 PERP/CALL
111 VW 3.75 PERP/CALL
112 VW 4.625 PERP/CALL
113 ANNGR 4.0 PERP/CALL
114 NTGYSM 4.125 PERP/CALL
115 STEDIN 3.25 PERP/CALL
116 GYCGR 3.75 PERP/CALL
117 SSELN 2.375 PERP/CALL
118 SSELN 3.875 PERP/CALL
119 VW 2.5 PERP/CALL
120 VW 3.5 PERP/CALL
121 REPSM 3.875 PERP/CALL
122 CNALN 5.25 CALLABLE
123 CNALN 3.0 CALLABLE
124 NTGYSM 3.375 PERP/CALL
125 ERFFP 4.875 PERP/CALL
126 ORSTED 3.0 CALLABLE
127 SBRYLN 6.5 PERP/CALL
128 LHAGR 5.125 CALLABLE
129 OMVAV 5.25 PERP/CALL
130 OMVAV 6.25 PERP/CALL
131 LXSGR 4.5 CALLABLE
132 GYCGR 2.75 PERP/CALL
133 ARNDTN 3.75 PERP/CALL
134 SSELN 4.75 CALLABLE
135 SSELN 3.625 CALLABLE
136 TRAFIG 6.875 PERP/CALL
137 VW 2.7 PERP/CALL
138 VW 3.875 PERP/CALL
139 ARNDTN 5.25 PERP/CALL
140 SOFTBK 6.0 PERP/CALL
141 SOFTBK 6.875 PERP/CALL
142 BALDER 3.0 CALLABLE
143 OMVAV 2.875 PERP/CALL
144 LHNVX 3.0 PERP/CALL
145 FERSM 2.124 PERP/CALL
146 ERFFP 3.25 PERP/CALL
147 ORSTED 2.25 CALLABLE
148 IBESM 1.875 PERP/CALL
149 ARNDTN 2.125 PERP/CALL
150 ALLRNV 1.625 PERP/CALL
151 AKFAST 3.875 CALLABLE
152 ECLEAR 2.625 CALLABLE
153 VW 3.375 PERP/CALL
154 VW 4.625 PERP/CALL
155 GYCGR 2.5 PERP/CALL
156 CPIPGR 4.375 PERP/CALL
157 JUSTLN 9.375 PERP/CALL
158 SBBBSS 4.625 PERP/CALL
159 CPIPGR 4.875 PERP/CALL
160 SBBBSS 2.6239999999999997 PERP/CALL
161 ORSTED 1.75 CALLABLE
162 HEIBOS 3.248 PERP/CALL
163 DBHNGR 0.95 PERP/CALL
164 DBHNGR 1.6 PERP/CALL
165 NGGLN 2.125 CALLABLE
166 MRKGR 2.875 CALLABLE
167 ARNDTN 4.75 PERP/CALL
168 ARNDTN 2.875 PERP/CALL
169 TRAFIG 7.5 PERP/CALL
170 ERFFP 2.875 PERP/CALL
171 TLGGR 3.375 PERP/CALL
172 AKFAST 2.249 CALLABLE
173 VW 3.5 PERP/CALL
174 EVKGR 2.125 CALLABLE
175 ACFP 4.125 PERP/CALL
176 AKEFP 4.75 PERP/CALL
177 NGGLN 5.625 CALLABLE
178 ENELIM 6.625 CALLABLE
179 VLVY 4.85 CALLABLE
180 IBESM 2.625 PERP/CALL
181 IBESM 3.25 PERP/CALL
182 NGGLN 1.625 CALLABLE
183 VW 3.875 PERP/CALL

# Add a filter

this filter gets all the details for all bonds that have ticker = DBHNGR

In [8]:
df.loc[df['ticker']=='DBHNGR']

,Unnamed: 0,ticker,coupon,nxt_call_dt,final_maturity,mty_typ,px_mid,z_sprd_mid,yas_ispread,yas_bond_yld,yas_risk,crncy,payment_rank,industry_sector,rtg_moody,rtg_sp,bb_composite
163,XS2010039035 Corp,DBHNGR,0.95,2025-01-22,NaN,PERP/CALL,96.982,196.145600,196.034194,1.612521,4.469365,EUR,Jr Subordinated,Industrial,A2,BBB-,BBB+
164,XS2010039548 Corp,DBHNGR,1.60,2029-07-18,NaN,PERP/CALL,97.872,206.696732,205.908330,1.851936,8.332652,EUR,Jr Subordinated,Industrial,A2,BBB-,BBB+

we could then get some stats on this data

In [4]:
# put dataframe into a variable
dbhngr = df.loc[df['ticker']=='DBHNGR']

# get the average spread
meanZdbhngr = dbhngr['z_sprd_mid'].mean()
print('mean z for dbhngr', round(meanZdbhngr,2))

mean z for dbhngr 201.42

# look at just the columns you want

In [9]:
dbhngr[['ticker', 'coupon', 'nxt_call_dt', 'yas_risk', 'yas_ispread', 'z_sprd_mid', 'px_mid']]

     ticker  coupon nxt_call_dt  yas_risk  yas_ispread  z_sprd_mid  px_mid
163  DBHNGR    0.95  2025-01-22  4.469365   196.034194  196.145600  96.982
164  DBHNGR    1.60  2029-07-18  8.332652   205.908330  206.696732  97.872

# Select rows and columns

So, for example, the user could filter rows for say ratings or issuers, and then get specified columns **all-in-one**.

In [11]:
dbhngrMod = df.loc[df['ticker']=='DBHNGR', ['ticker', 'coupon', 'nxt_call_dt', 'yas_risk', 'yas_ispread', 'z_sprd_mid', 'px_mid']]
dbhngrMod

     ticker  coupon nxt_call_dt  yas_risk  yas_ispread  z_sprd_mid  px_mid
163  DBHNGR    0.95  2025-01-22  4.469365   196.034194  196.145600  96.982
164  DBHNGR    1.60  2029-07-18  8.332652   205.908330  206.696732  97.872

# selecting columns by attribute access
benefit = get help when chaining methods after selection
drawback = cannot select columns that have spaces or other characters that are not valid as Python identifiers (variable names)

In [14]:
# example using chaining.method
dbhngrMod.coupon
# dbhngrMod.nxt_call_dt

163    0.95
164    1.60
Name: coupon, dtype: float64